.group {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 35vh;

    label {
        font-size: 34px;
    }

    input {
        font-size: 18px;
    }

    div {
        display: flex;
        justify-content: space-between;

        p {
            color: red;
        }
        
        button {
            width: 100px;
            margin-top: 15px;
            justify-self: flex-end;
        }
    }
}